<!DOCTYPE html>
<html>
  <head>
    <title>Trelloo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed|Ubuntu&display=swap" rel="stylesheet">
    <%= stylesheet_pack_tag    'application' %>
    <%= javascript_pack_tag 'application' %>
    
     
  </head>

  <body>
    <% if notice || alert %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <% end %>
    
    <div data-behavior='vue'>
        <app></app>
    </div>

  </body>
</html>
